/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

/* Styles for the body */

body {
	font-family: "alfa-slab-one";
	color: #F2E8DC;
	background-color: #CEF2F2;
}
h1 {
	font-family: "Sigmar One";
}
h3 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"	
}

h2 {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}
/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #F25835;
}

.resume-main {
	background-color: #D9A74A;
}

.resume-aside {
	background-color: #F1C4F2;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #F25835;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

.language-level {
	color:burlywood;
	border-color:aquamarine !important;
}
.language-progress {
	background-color:cornflowerblue !important;
}